{% extends 'inicio/index.html' %}

{% block titulo_arriba %}
    <title>Ingreso de Vehículo</title>
{% endblock titulo_arriba %}
{% block imagen %}
    <header class="masthead2">
{% endblock imagen %}
   
    {% block caratula %}
        <h1 class="mb-5">Ingreso de Vehículo</h1>
    {% endblock caratula %}
    {% block body %}
         
        <nav >
            <div class="container">
                <a class="btn btn-primary" href={% url 'form_cliente' %}>Cliente</a>
                <a class="btn btn-primary" href={% url 'form_auto' %}>Ingreso de Vehiculo</a>
                <a class="btn btn-primary" href= {% url 'form_problemas' %}>problemas</a>
                <form action={% url "form_auto"%} method="post">
                    {% csrf_token %}
                    <table>
                        {{autox.as_table}}
                    </table>
                <input type="submit" placeholder="Enviar">
                <a class="btn btn-primary" href={% url 'busqueda_patente' %}>Buscar por Patente</a>
                </form>
            </div>
        </nav>  
    {% endblock body %}   
                  
{% block buscador %}
    <nav class="navbar navbar-light bg-light static-top">
        <div class="container">
            <a class="btn btn-primary" href={% url 'form_cliente' %}>Cliente</a>
            <a class="btn btn-primary" href={% url 'form_auto' %}>Ingreso de Vehiculo</a>
            <a class="btn btn-primary" href= {% url 'form_problemas' %}>Problemas del Vehiculo</a>
        </div>
    </nav>     
{% endblock buscador %} 
  

    
