{% extends 'inicio/index.html' %}

{% block titulo_arriba %}
    <title>Ingreso de Vehículo</title>
{% endblock titulo_arriba %}
{% block imagen %}
    <header class="masthead2">
{% endblock imagen %}
   
    {% block caratula %}
        <h1 class="mb-5">Ingreso de Vehículo</h1>
    {% endblock caratula %}
    {% block body %}
         
        <nav >
            <div class="container">
                <a class="btn btn-primary" href={% url 'cliente' %}>Cliente</a>
                <a class="btn btn-primary" href={% url 'auto' %}>Ingreso de Vehiculo</a>
                <a class="btn btn-primary" href= {% url 'problemas' %}>problemas</a>
                <form action={% url "autox.as_table" method="post">
                    {% csrf_token %}
                    <table>
                        {{autox.as_table}}
                    </table>
                <input type="submit" placeholder="Enviar">
        
            
        
                </form>
            </div>
        </nav>  
    {% endblock body %}   
                  
    {% block Arreglo %}
    {% endblock Arreglo %} 
  

               