{% extends 'inicio/index.html' %}

{% block titulo_arriba %}
    <title>Auto</title>
{% endblock titulo_arriba %}
{% block imagen %}{% endblock imagen %}

{% block caratula %}{% endblock caratula %}      
{% block body %}
         
    <nav >
        <div class="container">
            <a class="btn btn-primary" href={% url 'cliente' %}>Cliente</a>
            <a class="btn btn-primary" href={% url 'auto' %}>Ingreso de Vehiculo</a>
            <a class="btn btn-primary" href= {% url 'inconveniente' %}>Inconveniente</a>
        </div>
    </nav>  
{% endblock body %}  
 
{% block body1 %}  
    <form action={% url "auto_x" %} method="post">
        {% csrf_token %}
        <table>
            {{auto_n.as_table}}

        </table>

        <input type="submit" placeholder="Enviar">
    </form>
{% endblock body1 %}  