{% extends 'inicio/index.html' %}

{% block titulo_arriba %}
    <title>busqueda_cliente</title>
{% endblock titulo_arriba %}

   
    {% block caratula %}
        <h1 class="mb-5">Buscar Cliente</h1>
        
    {% endblock caratula %}
    {% block body %}
         
        <nav >
            <div class="container bg-black75">   
                <form action={% url 'busqueda_nombre' %} method="get">
                    {% csrf_token %}
                    <table>
                        {{buscador1.as_table}}
                        
                    </table>
                    <input type="submit" placeholder="Enviar">
                </form><br>
                <a class="btn btn-primary" href={% url 'lista_clientes' %}>Lista De Clientes</a>
                <a class="btn btn-primary" href={% url 'busqueda_patente' %}>Buscar por Patente</a>
                <a class="btn btn-primary" href={% url 'busqueda_inconveniente' %}>Buscar Inconveniente</a>
                
            </div>
        </nav>
        <nav >       
            <div>
                {% for cliente in nombre_buscado %}
                    <Ol>    
                        <li>
                            {{cliente}}
                            <a class="btn btn-primary" href={% url 'datos_cliente' cliente.id %}>Detalle</a>
                            <a class="btn btn-primary" href={% url 'actualizar_cliente' cliente.id %}>Editar</a>
                            <a class="btn btn-primary" href={% url 'borrar_cliente' cliente.id %}>Eliminar</a>
                        </li>
                    </Ol>
                    
                {% endfor %}    
            </div>
        </nav>
        <nav >
            <div class="container">
                
            </div>
        </nav>    
    {% endblock body %}   

    
    {% block buscador %}

           
                
    <nav class="navbar navbar-light bg-light static-top">
        <div class="container">
            <a class="btn btn-primary" href={% url 'busqueda_patente' %}>Buscar por Patente</a>
            <a class="btn btn-primary" href={% url 'listasautos' %}>Lista De Vehiculos</a>
            <a class="btn btn-primary" href={% url 'busqueda_inconveniente' %}>Buscar inconveniente</a>
           
        </div>
    </nav>     


{% endblock buscador %}   