{% extends 'inicio/index.html' %}

{% block titulo_arriba %}
    <title>busqueda_patente</title>
{% endblock titulo_arriba %}

   
    {% block caratula %}
        <h1 class="mb-5">Buscar Patente</h1>
    {% endblock caratula %}
    {% block body %}
         
    <nav >
        <div class="container bg-black75">  
            <form action={% url 'busqueda_patente' %} method="get">
                {% csrf_token %}
                <table>
                    {{buscador2.as_table}}
                </table>
                <input type="submit" placeholder="Enviar">
            </form><br>
            <a class="btn btn-primary" href={% url 'listasautos' %}>Lista De Vehiculos</a>
            <a class="btn btn-primary" href={% url 'busqueda_nombre' %}>Buscar Cliente</a>
            <a class="btn btn-primary" href={% url 'busqueda_inconveniente' %}>Buscar inconveniente</a>
        </div>
    </nav>
    <nav >       
        <div>
            {% for auto in patente_buscado %}
                <Ol>    
                    <li>
                        {{auto}}
                    </li>
                </Ol>
                
            {% endfor %}    
        </div>
    </nav>   
    {% endblock body %}   

