{% extends 'inicio/index.html' %}

{% block titulo_arriba %}
    <title>busqueda_inconveniente</title>
{% endblock titulo_arriba %}

   
    {% block caratula %}
        <h1 class="mb-5">Buscar inconveniente</h1>
    {% endblock caratula %}
    {% block body %}
         
    <nav >
        <div class="container "> 
            <form action={% url 'busqueda_inconveniente' %} method="get">
                {% csrf_token %}
                <table>
                    {{buscador3.as_table}}
                </table>
                <input type="submit" placeholder="Enviar"><br><br>
                <a class="btn btn-primary" href={% url 'listasproblemas' %}>Lista De Problemas</a>
                <a class="btn btn-primary" href={% url 'busqueda_nombre' %}>Buscar Cliente</a>
                <a class="btn btn-primary" href={% url 'busqueda_patente' %}>Buscar por Patente</a>
                
            </form>
        </div>
    </nav>
    <nav >       
        <div>
            {% for inconveniente in inconveniente_buscado %}
                <Ol>    
                    <li>
                        {{inconveniente}}
                    </li>
                </Ol>
                
            {% endfor %}    
        </div>
    </nav>   
    {% endblock body %}   
                  
    {% block Arreglo %}
    {% endblock Arreglo %} 
