{% extends 'inicio/index.html' %}

{% block titulo_arriba %}
    <title>busqueda_cliente</title>
{% endblock titulo_arriba %}

   
    {% block caratula %}
        <h1 class="mb-5">Buscar Cliente</h1>
    {% endblock caratula %}
    {% block body %}
         
        <nav >
            <div class="container">   

                <a class="btn btn-primary" href={% url 'busqueda_patente' %}>Buscar por Patente</a>
                <a class="btn btn-primary" href={% url 'busqueda_inconveniente' %}>Buscar inconveniente</a>
                
                <form action={% url 'busqueda_nombre' %} method="get">
                    {% csrf_token %}
                    <table>
                        {{buscador1.as_table}}
                        
                    </table>
                    <a class="btn btn-primary" href={% url 'lista_clientes' %}>Lista De Clientes</a>
                    <input type="submit" placeholder="Enviar">
                </form>
            </div>
        </nav>
        <nav >       
            <div>
                {% for cliente in nombre_buscado %}
                    <Ol>    
                        <li>
                            {{cliente}}
                            <a href={% url 'datos_cliente' cliente.id %}>Detalle</a>
                            <a href={% url 'actualizar_cliente' cliente.id %}>Editar</a>
                            <a href={% url 'borrar_cliente' cliente.id %}>Eliminar</a>
                        </li>
                    </Ol>
                    
                {% endfor %}    
            </div>
        </nav>
        <nav >
            <div class="container">
                
            </div>
        </nav>    
    {% endblock body %}   

    
    {% block buscador %}

           
                
    <nav class="navbar navbar-light bg-light static-top">
        <div class="container">
            <a class="btn btn-primary" href={% url 'form_cliente' %}>Ingresar Cliente</a>
            <a class="btn btn-primary" href={% url 'form_auto' %}>Ingreso de Vehiculo</a>
            <a class="btn btn-primary" href= {% url 'form_problemas' %}>Problemas del Vehiculo</a>
        </div>
    </nav>     


{% endblock buscador %}   