{% extends 'inicio/index.html' %}

{% block titulo_arriba %}
    <title>Taller</title>
{% endblock titulo_arriba %}
{% block botones %}
        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="btn btn-primary" href={% url 'inicio' %}>Inicio</a>
                <a class="btn btn-primary" href={% url 'taller' %}>Taller</a>
                <a class="btn btn-primary" href={% url 'logout' %}>Logout</a>
                {% if  request.user.is_authenticated %}
                <a class="btn btn-primary" href={% url 'logout' %}>Logout</a>
                <a href={% url 'editar_usuario' %}>
                    <img src="user_avatar_url" alt="editar_usuario" height=20>
                </a>
                {% endif %}
            </div>
        </nav>
        {% endblock  %}
    


{% block imagen %}
    <header class="masthead2">
{% endblock imagen %}

{% block caratula %}
    <h1 class="mb-5">Taller San Salvador de Jujuy
        {% if mensaje %}
            {{mensaje}}
        {% endif %} 
    </h1>
{% endblock caratula %}      
{% block body %}
         
    <nav >
        <div class="container">
            <a class="btn btn-primary" href={% url 'busqueda_nombre' %}>Buscar Cliente</a>
            <a class="btn btn-primary" href={% url 'busqueda_patente' %}>Buscar por Patente</a>
            <a class="btn btn-primary" href={% url 'busqueda_inconveniente' %}>Buscar inconveniente</a>
        </div>
    </nav>  

    
{% endblock body %}  
{%block body1%}
{% block buscador %}

           
                
    <nav class="navbar navbar-light bg-light static-top">
        <div class="container">
            <a class="btn btn-primary" href={% url 'form_cliente' %}>Ingresar Cliente</a>
            <a class="btn btn-primary" href={% url 'form_auto' %}>Ingreso de Vehiculo</a>
            <a class="btn btn-primary" href= {% url 'form_problemas' %}>Problemas del Vehiculo</a>
        </div>
    </nav>     


{% endblock buscador %}
<div class="container">
    <li class="list-inline-item">
        
        <a class="btn btn-primary"  href={% url 'registrar' %}>Registrar Empleado</a>
        <a class="btn btn-primary" href=http://127.0.0.1:8000/admin>Admin</a>
    </li>
{% endblock body1%}
