{% extends 'inicio/index.html' %}

{% block titulo_arriba %}
    <title>Taller</title>
{% endblock titulo_arriba %}
{% block imagen %}
    <header class="masthead2">
{% endblock imagen %}

{% block caratula %}
    <h1 class="mb-5">Taller San Salvador de Jujuy</h1>
{% endblock caratula %}      
{% block body %}
         
    <nav >
        <div class="container">
            <a class="btn btn-primary" href={% url 'form_cliente' %}>Cliente</a>
            <a class="btn btn-primary" href={% url 'form_auto' %}>Ingreso de Vehiculo</a>
            <a class="btn btn-primary" href= {% url 'form_problemas' %}>problemas</a>
        </div>
    </nav>  
{% endblock body %}  




